body {
    margin: 0;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

header, .company-symbolics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 29.5px 81px;
}

.company-symbolics {
    gap: 6px;
    max-width: 175px;
}

.company-symbolics h2 {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}

header .company-symbolics h2 {
    color: #333333;
}

header nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 40px;
    justify-content: end;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #333333;
}

header nav ul li a:hover {
    color: #0077FF;
}

.about {
    max-width: 1277px;
    display: grid;
    grid-template-columns: 1fr 0.886fr;
    padding: 83.5px 5%;
    margin: 0 auto;
    align-items: center;
}

.about img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    justify-self: center;
    align-self: center;
}

.about .intro {
    max-width: 624px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about .intro .self-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #222222;
}

.about .intro .self-description h1 {
    font-size: 60px;
    font-weight: 700;
    max-width: 544.39px;
    margin: 0;
}

.about .intro .self-description span {
    color: #0077FF;
    font-weight: 700;
    font-size: 70px;
}

.about .intro .self-description p {
    font-size: 25px;
    font-weight: 400;
    max-width: 544.39px;
    margin: 0;
}

.about .intro a {
    grid-column-start: 1;
    background: #0077FF;
    padding: 13.5px 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    max-width: 161.3px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

.about .intro a:hover {
    background: #222222;
}

.milestones {
    background: #0077FF;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.milestones hgroup {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
    max-width: 45%;
}

.milestones hgroup h2 {
    color: #E9EFFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.milestones hgroup h3 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.milestones .figures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 244.5px;
}

.milestones .figures .figure {
    background: #FFFFFF;
    color: #333333;
    border-radius: 15px;
    padding: 30px 3px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.milestones .figure .number {
    font-weight: 700;
    font-size: 50px;
}

.milestones .figure .text {
    font-weight: 600;
    font-size: 20px;
}

.testimonials {
    background: #FFFFFF;
    padding: 100px 244.5px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.testimonials hgroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.testimonials hgroup h2 {
    color: #0078FF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.testimonials hgroup h3 {
    color: #222222;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.testimonials .testimonials-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.testimonials .testimonials-content article {
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #000000;
    font-size: 16px;
}

.testimonials .testimonials-content article .star-rating {
    display: none;
}


.testimonials .testimonials-content article p {
    font-weight: 400;
    padding-right: 10px;
    margin: 0;
}

.testimonials .testimonials-content article .meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;

}

.testimonials .testimonials-content article .meta .name {
    text-transform: uppercase;
    font-weight: 600;
}

.testimonials .testimonials-content article .meta .position {
    color: #666666;;
    font-weight: 400;
}

footer {
    padding: 50px 81px;
    background: #0077FF;
}

footer .footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-body p {
    color: #DDEDFF;
    font-weight: 400;
}

footer .company-symbolics h2 {
    color: #FFFFFF;
}

@media screen and (max-width: 1160px) {
    header {
        padding: 29.5px 5%;
    }

    .about {
        padding-top: 5%;
    }

    .about .intro {
        gap: 20px;
    }

    .about .intro .self-description p {
        padding-right: 15px;
    }

    .about .intro .self-description h1, .about .intro .self-description h1 span {
        font-size: 50px;
    }

    .about a {
        max-width: 80%;
    }

    .milestones {
        padding: 5% 0;
        gap: 5%;
    }

    .milestones .figures {
        padding: 50px 10%;
    }

    .testimonials {
        padding: 5% 3%;
    }

    @media screen and (max-width: 660px) {
        header {
            padding: 13.5px 20px;
        }

        header nav ul {
            padding-left: 0;
            font-size: 16px;
            gap: 25px;
            justify-content: center;
        }

        header .company-symbolics h2 {
            display: none;
        }

        header .company-symbolics img {
            max-width: 30px;
        }

        .about {
            grid-template-columns: 1fr;
            padding: 30px 10px 51px 10px;
            gap: 15px;
        }

        .about img {
            grid-column-start: 1;
        }

        .about .intro {
            gap: 30px;
            align-items: center;
            padding-bottom: 30px;
        }

        .about .intro .self-description {
            gap: 15px;
        }

        .about .intro .self-description {
            text-align: center;
        }

        .about .intro .self-description h1 {
            font-size: 50px;
        }

        .about .intro .self-description h1 span {
            font-size: 50px;
        }

        .about .intro .self-description p {
            font-size: 20px;
        }

        .about .intro a {
            flex: auto;
            width: 100%;
            max-width: 95%;
        }

        .milestones {
            padding-bottom: 0;
        }

        .milestones hgroup {
            gap: 15px;
            max-width: 95%;
        }

        .milestones hgroup h2 {
            font-size: 18px;
        }

        .milestones hgroup h3 {
            font-size: 40px;
        }

        .milestones .figures {
            grid-template-columns: 1fr;
        }

        .testimonials hgroup {
            gap: 15px;
        }

        .testimonials hgroup h2 {
            font-size: 18px;
        }

        .testimonials hgroup h3 {
            font-size: 40px;
        }

        .testimonials .testimonials-content {
            grid-template-columns: 1fr;
        }

        .testimonials .testimonials-content article .star-rating {
            display: flex;
            gap: 5px;
        }

        footer .footer-body {
            flex-direction: column;
            gap: 15px;
        }

        footer .footer-body .company-symbolics h2 {
            font-size: 25px;
            font-weight: 900;
        }

        footer .footer-body p {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
}
